@using OqtaneSSR.Client.Models
@using OqtaneSSR.Client.Components.DynamicRenderMode

<div style="width: 100%; border-width: 1px; border-style: dashed; border-color: gray;">
	<div style="text-align: center;"><small>(Module: @ModuleState.ModuleType)</small></div>
	<div style="text-align: center;"><small>(Render Mode: @ModuleState.RenderMode)</small></div>
	<DynamicComponent Type="@typeof(DynamicComponentAttribute)" Parameters="@_parameters"></DynamicComponent>
</div>

@code {
	private IDictionary<string, object> _parameters { get; set; }

	[CascadingParameter]
	protected PageState PageState { get; set; }

	[CascadingParameter]
	private Module ModuleState { get; set; }

	protected override void OnParametersSet()
	{
		_parameters = new Dictionary<string, object>
		{
			{ "TypeName", ModuleState.ModuleType },
			{ "RenderMode", ModuleState.RenderMode }
		};
	}
}
