@using OqtaneSSR.Client.Models

<div style="width: 100%; border-width: 1px; border-style: dashed; border-color: gray;">
    <div style="text-align: center;"><small>(Pane: @Name)</small></div>
    @DynamicComponent
</div>

@code {
    [CascadingParameter]
    protected PageState PageState { get; set; }

    [Parameter]
    public string Name { get; set; }

    RenderFragment DynamicComponent { get; set; }

    protected override void OnParametersSet()
    {
        DynamicComponent = builder =>
        {
            foreach (Module module in PageState.Modules.Where(item => item.PagePath == PageState.PagePath && item.PaneName == Name))
            {
                builder.OpenComponent(0, typeof(ContainerBuilder));
                builder.AddAttribute(1, "ModuleState", module);
                builder.CloseComponent();
            }
        };
    }
}
