@using OqtaneSSR.Client.Models
@using OqtaneSSR.Client.Services
@inject ITextService TextService

<p>This component demonstrates retrieving data using ITextService</p>

@if (_text != null)
{
    <strong>@_text</strong>
}

@code {
    [CascadingParameter]
    protected PageState PageState { get; set; }

    [CascadingParameter]
    protected Module ModuleState { get; set; }

    private string _text = null;

    protected override async Task OnInitializedAsync()
    {
        _text = await TextService.GetTextAsync();
    }
}
