@using OqtaneSSR.Client.Models

<CascadingValue Value="@ModuleState">
    @DynamicComponent
</CascadingValue>

<br /><br /><p>[CascadingParameter] ModuleState: @((ModuleState == null) ? "null" : "available")</p>

@code {
    [CascadingParameter]
    protected PageState PageState { get; set; }

    [Parameter]
    public Module ModuleState { get; set; }

    [Parameter]
    public string TypeName { get; set; }

    RenderFragment DynamicComponent { get; set; }

    protected override void OnParametersSet()
    {
        DynamicComponent = builder =>
        {
            builder.OpenComponent(0, Type.GetType(TypeName));
            builder.CloseComponent();
        };
    }
}