@using OqtaneSSR.Client.Models

<div style="width: 100%; border-width: 1px; border-style: dashed; border-color: gray;">
    <div style="text-align: center;"><small>(Container: @ModuleState.ContainerType)</small></div>
    <CascadingValue Value="@ModuleState">
        <DynamicComponent Type="@Type.GetType(ModuleState.ContainerType)"></DynamicComponent>
    </CascadingValue>
</div>
    
@code {
    [CascadingParameter]
    protected PageState PageState { get; set; }

    [Parameter]
    public Module ModuleState { get; set; }	
}
