@using OqtaneSSR.Client.Models
@inject SiteState SiteStateService

<CascadingValue Value="@PageState">
    <CascadingValue Value="@ModuleState">
        @if (!string.IsNullOrEmpty(_messageContent))
        {
            <div class="alert alert-@(_messageType.ToLower()) alert-dismissible fade show mb-3" role="alert">
                @((MarkupString)_messageContent)
                <form method="post" @onsubmit="DismissMessage" @formname="@_formName" data-enhance>
                    <AntiforgeryToken />
                    <button type="submit" class="btn-close" aria-label="Close"></button>
                </form>
            </div>
        }
        @DynamicComponent
    </CascadingValue>
</CascadingValue>

@code {
    private string _messageContent;
    private string _messageType;
    private string _formName;

    [Parameter]
    public SiteState SiteState { get; set; }

    [Parameter]
    public PageState PageState { get; set; }

    [Parameter]
    public Module ModuleState { get; set; }

    RenderFragment DynamicComponent { get; set; }

    protected override void OnParametersSet()
    {
        // this is required to marshal the SiteState across the render mode boundary (property values must be transferred - not the object itself)
        SiteStateService.RemoteIPAddress = SiteState.RemoteIPAddress; 

        _messageContent = "";
        _formName = ModuleState.ModuleType; // note that form names need to be unique and you can't use Guid.NewGuid() because the component is re-initialized on submit

        DynamicComponent = builder =>
        {
            builder.OpenComponent(0, Type.GetType(ModuleState.ModuleType));
            builder.AddAttribute(1, "DynamicRenderMode", this);
            builder.CloseComponent();
        };
    }

    public void AddModuleMessage(string messageContent, string messageType)
    {
        _messageContent = messageContent;
        _messageType = messageType;
        StateHasChanged();
    }

    private void DismissMessage()
    {
        _messageContent = "";
    }
}