@using OqtaneSSR.Client.Components.Router
@using OqtaneSSR.Client.Models

<div class="container">
	<div class="row px-4">
        <div class="container">
            <h1>@ModuleState.ModuleTitle</h1>
            <ModuleInstance />
        </div>
    </div>
</div>
<br />

@code {
    [CascadingParameter]
    protected PageState PageState { get; set; }

    [CascadingParameter]
    protected Module ModuleState { get; set; }
}