@using OqtaneSSR.Client.Models
@inherits ModuleBase

<form method="post" @onsubmit="Submit" @formname="MyUniqueFormName">
    <AntiforgeryToken />
    <button type="submit" class="btn btn-primary" name="Action" value="Action1">Action1</button>
    <button type="submit" class="btn btn-primary" name="Action" value="Action2">Action2</button>
</form>

@if (!string.IsNullOrEmpty(_message))
{
    @((MarkupString)_message)
    
}

@code {
    [SupplyParameterFromForm] public string Action { get; set; }

    private string _message;

    private void Submit()
    {
        _message = $"<br /><p>";
        _message += "Action: " + ((Action != null) ? Action : "NULL");
        _message += "</p>";
    }
}
