@using OqtaneSSR.Client.Models
@using OqtaneSSR.Client.Services
@inherits ModuleBase
@inject ITextService TextService
@inject IHttpClientService HttpClientService

<p>This component demonstrates retrieving data using the ITextService</p>

@if (_text != null)
{
    <strong>@_text</strong>
}

@code {
    private string _text = null;

    protected override async Task OnInitializedAsync()
    {
        //_text = await TextService.GetTextAsync();
        _text = await HttpClientService.GetTextAsync();

        //AddModuleMessage("AddModuleMessage Called From Child Component And Displayed In Parent Component", "Success");
    }
}
