@using OqtaneSSR.Client.Models
@inherits ModuleBase

<p>This component demonstrates interactivity.</p>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    protected override void OnInitialized()
    {
        SetPageTitle("Test"); // scoped service is able to cross render mode boundary

        AddModuleMessage("The IP Address Is: " + SiteState.RemoteIPAddress + " (from HttpContext in App.razor)", "Success");
    }

    private void IncrementCount()
    {
        currentCount++;
    }
}
